{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-sqaure" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a graduating senior from the University of Texas at Austin with a degree in Biology and a minor in Business.</h3>
        <h3>I enjoy all aspect of the Biology field, but I also enjoy learning about common business practices and computer science tools.</h3>
        <h3>Another interest I have is with sports, take a look at some my working <a href="{{ .Site.BaseURL }}projects/"> projects</a> involving the NFL and NBA.</h3>
        <h3>Check out my professional <a href="myresume.pdf"target="_blank">resume</a>.</h3>
        <h3>Contact me by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
